@import 'compass/reset'
html
	font-family: "Arial", sans-serif
body
	width: 890px
	margin: 0 auto
h1
	font-size: 40px
h2, .header-list
	font-size: 25px
hr
	margin: 25px 0
header
	margin-top: 30px
	img
		display: inline-block
		vertical-align: middle
		margin-right: 30px
	h1
		display: inline-block
		vertical-align: middle
	ul
		background: #eee
		display: inline-block
		vertical-align: middle
		padding: 11px
		width: 200px
		font-size: 18px
		text-align: center
		vertical-align: middle
		float: right
		li
			padding: 4px 0
		a
			color: #444
			font-size: 18px
			&:hover
				color: #000
article img
	margin: 0 auto
	display: block
days, price
	background: #EEE
	padding: 7px
	margin-top: -7px
days
	float: left
price
	float: right
.header-list
	> li
		&:before
			content: "- "
	ul
		font-weight: normal
		font-size: 16px
		line-height: 28px
		margin: 13px 0 13px 16px
footer
	margin-bottom: 30px
	ul
		display: block
		vertical-align: middle
		font-size: 18px
		text-align: center
		margin: 0 auto
		vertical-align: middle
		li
			padding: 4px 0
			background: #eee
			display: inline-block
			margin: 0 5px
		a
			color: #444
			font-size: 18px
			padding: 15px
			display: block
			&:hover
				color: #000
.tac
	text-align: center
.mb-15
	margin-bottom: 15px