// LARGE DESKTOP & UP
// ------------------

@media (min-width: 1200px)
  // Fixed grid
  +core-grid-generate(70px, 30px)

  // Fluid grid
  +fluid-grid-generate(5.982905983%, 2.564102564%)
  
  // Input grid
  +input-grid-generate(70px, 30px)

  // Thumbnails
  .thumbnails
    margin-left: -30px
  .thumbnails > li
    margin-left: 30px
  .row-fluid .thumbnails
    margin-left: 0
