<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title><%= @title %></title>
        <!--[if IE]>
            <script src="/html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/css/screen.css" />
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="de-core"/>
            <h1>сердце Вашего дизайна</h1>
            <ul>
                <li><a href="#" class="e-mail">e-mail</a></li>
                <li><a href="#" class="skype">skype</a></li>
                <li><a href="#" class="free-lance">free-lance</a></li>
            </ul>
            <hr />
        </header>   
        <article>
            <%= yield %>
        </article>
        <footer>
            <hr />
            <h2 class="tac mb-15">Ждем Ваших предложений:</h2>
            <ul>
                <li><a href="#" class="e-mail">e-mail</a></li>
                <li><a href="#" class="skype">skype</a></li>
                <li><a href="#" class="free-lance">free-lance</a></li>
            </ul>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="/js/jquery.site.js"></script>
    </body>
</html>