<% @id = "page-home" %>
<% @title = "Сайт на bootstrap/zurb foundation/compass от 5000 рублей!" %>
<h2 class="tac mb-15">Сделаем Ваш сайт с использованием всего самого крутого:</h2>
<img src="/img/technology.png" alt="bootstrap zurb foundation sass compass rails"/ >
<hr />
<h2 class="tac"><days>15 дней</days>Сайт на Rails всего за 15 000 рублей!<price>$468</price></h2>
<hr />
<h2 class="tac"><days>5 дней</days>Статический сайт всего за 5 000 рублей!<price>$154</price></h2>
<hr />
<h2 class="tac mb-15">Для всех сайтов!</h2>
<ul class="header-list">
	<li>3 месяца хостинга бесплатно
		<ul>
			<li>При необходимости предоставляется доступ по ftp/sftp</li>
			<li>При необходимости заводится отдельный сервер</li>
			<li>Мы не поддерживаем работоспособность не наших серверов</li>
		</ul>
	</li>
	<li>3 часа дополнительной поддержки бесплатно
		<ul>
			<li>В поддержку входит: наполнение контента, разработка новых модулей, функционала</li>
			<li>Стоимость часа работы - 350 рублей или $10</li>
			<li>Стоимость часа работы на чужом сервере - 500 рублей или $15</li>
			<li>Считается общее количество часов за месяц, округленное до целого числа</li>
			<li>В конце месяца мы высылаем уведомление о количестве затраченных часов на поддержку</li>
		</ul>
	</li>
</ul>