html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  font-family: "Arial", sans-serif;
}

body {
  width: 890px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

h2, .header-list {
  font-size: 25px;
}

hr {
  margin: 25px 0;
}

header {
  margin-top: 30px;
}
header img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
}
header ul {
  background: #eeeeee;
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
  width: 200px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  float: right;
}
header ul li {
  padding: 4px 0;
}
header ul a {
  color: #444444;
  font-size: 18px;
}
header ul a:hover {
  color: black;
}

article img {
  margin: 0 auto;
  display: block;
}

days, price {
  background: #eeeeee;
  padding: 7px;
  margin-top: -7px;
}

days {
  float: left;
}

price {
  float: right;
}

.header-list > li:before {
  content: "- ";
}
.header-list ul {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin: 13px 0 13px 16px;
}

footer {
  margin-bottom: 30px;
}
footer ul {
  display: block;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}
footer ul li {
  padding: 4px 0;
  background: #eeeeee;
  display: inline-block;
  margin: 0 5px;
}
footer ul a {
  color: #444444;
  font-size: 18px;
  padding: 15px;
  display: block;
}
footer ul a:hover {
  color: black;
}

.tac {
  text-align: center;
}

.mb-15 {
  margin-bottom: 15px;
}
